<footer class="footer">
  <div class="container footer__container">
    <p class="footer__text">
      © 2016 MoGo free PSD template by
      <a href="#" class="footer__link">Laaqiq</a>
    </p>
    <div class="footer__location-auto">
      <div class="footer__wrapper">
        <input class="footer__input" type="email" name="email" placeholder="Your Email..." />
        <button class="footer__button" data-modal-send type="submit">Subscribe</button>
      </div>
    </div>
  </div>
</footer>
