<section class="section__services">
  <div class="container">
    <div>
      <h2 class="section__suptitle">We work with</h2>
      <h1 class="section__title">Amazing Services</h1>
    </div>
    <div class="services">
      <div class="work_1">
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#alarm" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">Photography</h3>
            <p class="service__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
          </div>
        </div>
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#graph" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">Web Design</h3>
            <p class="service__text">
              Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
          </div>
        </div>
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#computer" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">Creativity</h3>
            <p class="service__text">
              Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
          </div>
        </div>
      </div>
      <div class="work_1">
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#book" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">seo</h3>
            <p class="service__text">
              Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            </p>
          </div>
        </div>
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#home" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">Css/Html</h3>
            <p class="service__text">
              Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.
            </p>
          </div>
        </div>
        <div class="service__box">
          <div>
            <svg class="service__link" width="30" height="30">
              <use href="./images/sprite.svg#image" />
            </svg>
          </div>
          <div class="service__text-box">
            <h3 class="service__title">digital</h3>
            <p class="service__text">
              Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
