<section class="section__team">
  <div class="container">
    <div class="section-team__text-box">
      <h2 class="section__suptitle">Who we are</h2>
      <h1 class="section__title">Meet our team</h1>
      <p class="section-team__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="about-team">
      <div>
        <div class="about-team__item">
          <div class="about-team__img">
            <img src="./images/about/1.jpg" alt="1" />
          </div>
          <div class="about-team__text">
            <ul class="social-list">
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon social-list__icon--color" width="30" height="30">
                    <use href="./images/sprite.svg#facebook" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#twitter" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#pinterest" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate">
          <h3 class="teammate_name">Matthew Dix</h3>
          <p class="teammate_profesion">Graphic Design</p>
        </div>
      </div>
      <div>
        <div class="about-team__item">
          <div class="about-team__img">
            <img src="./images/about/2.jpg" alt="2" />
          </div>
          <div class="about-team__text">
            <ul class="social-list">
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon social-list__icon--color" width="30" height="30">
                    <use href="./images/sprite.svg#facebook" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#twitter" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#pinterest" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate">
          <h3 class="teammate_name">Christopher Campbell</h3>
          <p class="teammate_profesion">Branding/UX design</p>
        </div>
      </div>
      <div>
        <div class="about-team__item">
          <div class="about-team__img">
            <img src="./images/about/3.jpg" alt="3" />
          </div>
          <div class="about-team__text">
            <ul class="social-list">
              <li class="social-list__item">
                <a class="social-list__link" href="">
                  <svg class="social-list__icon social-list__icon--color" width="30" height="30">
                    <use href="./images/sprite.svg#facebook" />
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#twitter" />
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#pinterest" />
                  </svg>
                </a>
              </li>
              <li>
                <a class="social-list__link" href="">
                  <svg class="social-list__icon" width="30" height="30">
                    <use href="./images/sprite.svg#instagram" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="teammate">
          <h3 class="teammate_name">Michael Fertig</h3>
          <p class="teammate_profesion">Developer</p>
        </div>
      </div>
    </div>
  </div>
</section>
